.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
}

.modal-message {
  background-color: #137c8b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  text-align: center;
  max-width: 400px;
  max-height: 600px;
}

.modal-cross {
  cursor: pointer;
  background-color: #137c8b;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}

.modal-cross:hover {
  transform: scale(1.1);
}
